.botao-cinza, .botao-azul {
    width: 5rem;
    height: 5rem;
    font-size: 2rem;
    font-weight: 500;
    border-radius: 8px;
    border-style: none;
    cursor: pointer;
}

.botao-cinza {
    background-color: rgb(210, 209, 209);
    color: black;
    border: 1.5px solid rgb(76, 255, 243);
}

.botao-cinza:hover {
    background-color: rgb(177, 172, 172);
    transition-duration: 0.4s;
}

.botao-azul {
    background-color: #00aeff;
    color: white;
    border: 1.5px solid rgb(76, 255, 243);
}

.botao-azul:hover{
    background-color: #128ac1;
    transition-duration: 0.4s;
}