.calculadora-container {
    width: 25rem;
    height: 36rem;
    border-radius: 25px;
    border: 2px solid rgb(76, 255, 243);
    background-color: rgba(0, 0, 0, 0.291);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 1.8rem;
    align-items: center;
}

.botoes-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.linha-de-botoes {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}